name: Build and upload

on: workflow_dispatch

permissions:
  contents: write

jobs:
  build:
    name: ${{ matrix.platform.name }} Node.js v${{ matrix.node }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - { name: 'Linux (x64)'   ,os: ubuntu-22.04              }
          - { name: 'Linux (arm64)' ,os: ubuntu-22.04-arm          }
          - { name: 'Windows (x64)' ,os: windows-2022              }
          - { name: 'Mac (x64)'     ,os: macos-14     ,arch: x64   }
          - { name: 'Mac (arm64)'   ,os: macos-14     ,arch: arm64 }
        node: [ 20, 22, 24 ]

    runs-on: ${{ matrix.platform.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - if: ${{ startsWith(matrix.platform.os, 'ubuntu-') }}
        run: sudo apt-get update && sudo ./scripts/install-deps-ubuntu.sh

      - run: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROSS_COMPILE_ARCH: ${{ matrix.platform.arch }}
